body{
  background-color: #07060f!important;
  color: white!important;
}

h1{
  padding-left: 20px;
padding-top: 60px;
font-family: 'Permanent Marker'!important;

}
 
h2{
  padding: 20px;
   font-family: 'Heebo'!important;
  font-size: 1.5em!important;
}

.skills{
  padding: 20px;
}

.projects{
  padding: 20px;
}

h3{
  padding-bottom: 20px;
  padding-left: 20px;
}
.form-group{
  padding: 20px;
  text-align: center;
}

.submit{
  margin-left: 20px;
}
.intro{
  padding: 20px;
}

.footy{
  padding: 20px;
}
.fab{
  font-size 2em!important;
}
.media{
  padding: 10px;
}