body{
  overflow: hidden;
  color: rgb(7, 49, 97);
  background-color: #98c1d9!important;
  font-family: 'Raleway', sans-serif;
}

.navbar-brand{
  background-color: #03234d;
}
  #top{
    background-color: #03234d;

  }

#projects{
  color: rgb(6, 42, 83)!important;
  text-align: center;
  min-height: 100vh;
  width: 100vw;
  Margin: 0 auto;
  margin-top: 10vh;
  background-color: #98c1d9!important;
  justify-content: center;
  display: block!important;
  
}

.contact{
  text-align: center;
  min-height: 100vh;
  margin-top: 10vh;
}

.card{
  padding: 20px;
  margin-bottom: 0px 20px 10vh 20px;
  background-color: #d9e5f5!important;
  height: 100%;
    }

.flex-container{
  display: flex;
  text-align: center!important;
}

.for-projects{
  padding: 10vh;
}
.hero-body{
  height: 100vh;
  background-color: #03234d;

}
.navbar-menu{
  background-color: #03234d;
  
  }

 .navbar{
    background-color: #03234d;
  }

h1{
  font-family: 'Leckerli One', cursive;
  font-size: 2em!important;
  color: rgb(172, 205, 241)!important;
}

p{
  color: rgb(210, 227, 247)!important;
  justify-content: left;
  font-size:1em!important;

}

h3 {
  color: rgb(10, 34, 61)!important;
  justify-content: left;
  font-size:1em!important;
}

.title{
  color: rgb(171, 202, 238)!important;

}

.title2{
  color: rgb(10, 34, 61)!important;
  margin-bottom: 2vh;

}
h2{
  color: rgb(10, 34, 61)!important;

  font-size:1.5em!important;

}


.navbar-item{
  color:rgb(199, 211, 224)!important;
}

label{
  color:#293241 !important;
}

#table{
  margin-top: -20px;
  font-size: 1em;
  padding: 0!important;
}

.buffer{
  height: 10vh;
  background-color: #98c1d9!important;

}

.buffer1{
    height: 10vh;
    background-color: #03234d;
    
    }  
  

.table{
  background-color: #98c1d9!important;
  color:#293241!important;
  text-align: center;
  
}



a:hover{
  background-color: #f2f53a!important;
}

.fab{
  font-size: 3em;
  margin: 10vh 10vw 10vh 10vw;
  color: #031d2c;
   }

 .nohover:hover {  
  background-color: transparent!important;
}



.content{
  color: black!important;
}



form{
  width: 80vw;
  margin: 0 auto;
}

.container{
  width: 90vw;
  justify-content: center;
  align-items: center;
}

.photo{
  border-radius: 100%;
  width: 10vw;
  display: inline-block;
}

ul {
  list-style-type: circle;
}
